@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
	padding: 0;
	margin: 0;
}

body {
	background-color: #f7f7f7;
}

article {
	background-color: white;
	margin: auto;
	display: block;
	margin-top: 15px;
	width: 98vw;
	border-radius: 10px;
}

/*menu das páginas*/

header>h1 {
	padding-top: 30px;
	font-variant: small-caps;
	font-weight: normal;
	font-family: 'open sans', sans-serif;
	color: #fff;
	font-size: 35px;
}

.nav-bar {
	display: flex;
	list-style: none;
	justify-content: center;
}

.nav-list {
	display: flex;
	align-items: center;
}

.nav-list ul {
	display: flex;
	justify-content: center;
	list-style: none;
}

.nav-item {
	margin: 0 15px;
}

.nav-link {
	text-decoration: none;
	color: #fff;
	padding: 15px;
	transform: 10s ease-in;
	position: relative;
	font: 15px 'open sans';
}


.nav-list a:before {
	content: " ";
	position: absolute;
	bottom: 0;
	left: 0;
	width: 0;
	height: 3px;
	background-color: #808b53;
	transition: all 2s ease;
}

.nav-bar .nav-list a:hover::before {
	width: 90px;
}

header {
	background-color: #a50019;
	color: white;
	text-align: center;
	height: 4.5cm;
}

/*rodapé*/

footer {
	color: #FFF;
	background-color: #e82020;
	width: 100%;
	height: 30px;
	word-spacing: 40px;
	text-align: center;
	padding: 40px 0;
}

.menu li {
	display: inline-block;
	margin: 0 auto;
}

.menu li :hover {
	width: 35px;
}

.imagem {
	width: 30px;
}

/*design da página 2 - tabela*/

.imgp2 {
	padding-bottom: 50px;
	padding-top: 20px;
}

.container {
	text-align: center;
	overflow: hidden;
	width: 620px;
	margin: 0 auto;
	position: relative;
}

.container td {
	padding: 2% 4%;
	font-family: 'Open Sans';
	color: #FFF;
}

.container tr:nth-child(odd) {
	background-color: #478d4d;
}

.container tr:nth-child(even) {
	background-color: #26702c;
}

.container td:hover {
	background-color: #69aa4f;
	color: #fff;
	box-shadow: #69aa4f -1px 1px, #69aa4f -2px 2px, #69aa4f -3px 3px, #69aa4f -4px 4px, #69aa4f -5px 5px, #69aa4f -6px 6px;
	transform: translate3d(6px, -6px, 0);
	transition: all 1s line 0s;
}

/* design da página 5*/

.mySlides {
	animation: 2s;
	transition-delay: 2s;
	border-radius: 10%;
	height: 550px;
}

.pad7 {
	color: #FFF;
}

/*design da página 6*/

.p4 {
	font-family: 'open sans';
	font-size: 18px;
	color: #000000;
	text-align: justify;
	line-height: 1cm;
	text-indent: 1cm;
	width: 1100px;
	margin: auto;
}

.pad3 {
	padding-top: 5.5cm;
	padding-bottom: 20px;
}

.pad4 {
	padding-top: 3cm;
	padding-bottom: 20px;
}

.bw {
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
	filter: gray;
}

.bw:hover {
	-webkit-filter: none;
	filter: none;
	transition-delay: 70ms;
}

/*design da página 7*/

.link1 {
	background-color: #e82020;
	color: rgb(255, 255, 255);
	border-radius: 12px;
	font-family: 'verdana';
	padding: 10px 20px;
	text-align: center;
	text-decoration: none;
	display: block;
	margin: 0 auto;
	width: 7cm;
}

.link2 {
	background-color: #26702c;
	color: rgb(255, 255, 255);
	font-family: 'verdana';
	border-radius: 12px;
	padding: 10px 20px;
	text-align: center;
	text-decoration: none;
	display: block;
	width: 7cm;
	margin: 0 auto;
}

.p1 {
	font-family: 'verdana';
	font-size: 18px;
	color: #000000;
	margin-left: 0.5cm;
	margin-right: 0.5cm;
	text-align: justify;
	line-height: 1cm;
	text-indent: 0.6cm;
}

.p3 {
	font-family: 'verdana';
	font-size: 18px;
	color: #000000;
	margin-left: 0.5cm;
	margin-right: 0.5cm;
	text-align: justify;
	line-height: 1cm;
}

/*design de todas as páginas em comum*/

h2 {
	text-align: center;
	font-family: 'britannic bold';
	font-size: 30px;
	color: #be0303;
}

.texto {
	padding-bottom: 20px;
	padding-top: 30px;
}

.pad {
	margin-top: 50px;
	color: #24385c;
}

.pad2 {
	color: #1f6125;
	padding-bottom: 20px;
}

div {
	display: inline-table;
	padding: 1px 50px 3px 20px;
}

.p2 {
	font-family: 'open sans';
	font-size: 18px;
	color: #000000;
	text-align: justify;
	line-height: 1cm;
	text-indent: 1cm;
	min-width: 100px;
	max-width: 1000px;
	margin: auto;
}

h1 {
	padding-top: 50px;
	font-family: 'britannic bold';
	font-size: 35px;
	color: #be0303;
	text-align: center;
	padding-bottom: 20px;
	font-variant: small-caps;
}